@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1 align="center" size="+6">Universidade Adams :)</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Bem-Vindo à Universidade Adams!</h2>
        <p>
            A Universidade Adams é uma aplicação exemplo que
            demonstra como usar o Entity Framework Core em uma
            aplicação ASP.NET Core MVC web application.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Construindo deste o início</h2>
        <p>Você pode criar a aplicação seguindo os seguintes passos nesta série de tutoriais.</p>
        <p><a class="btn btn-default" href="https://docs.asp.net/en/latest/data/ef-mvc/intro.html">Veja o tutorial &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Baixe o projeto completo (Indisponivel)</h2>
        <p>Enquanto isso vê este vídeo incrível</p>
        <iframe id="ytplayer" type="text/html" width="720" height="540"
                src="https://www.youtube.com/embed/dQw4w9WgXcQ"
                frameborder="0" allowfullscreen></iframe>
    </div>
</div>